body {
  background-color: #393e46;
  font-family: 'Pacifico', cursive;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Indie Flower', cursive; */
  color: #74d4c0;

  text-align: center;
}

h1 {
  font-size: 6rem;
  line-height: 1.5;
  display: inline;
}

table {
  margin: auto;
  font-size: 2rem;
}

.flag_l {
  visibility: hidden;
}

.dice_l {
  width:200px;
}

.flag_r {
  visibility: visible;
}

.dice_r {
  width:200px;
}
